# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
asgiref == 3.5.0
charset-normalizer == 2.0.12
dj-database-url == 0.5.0
django == 3.2.12
django-heroku == 0.3.1
heroku == 0.1.4
idna == 3.3
openssl == 1.1.1m
pip == 21.2.4
psycopg2 == 2.9.3
python-dateutil == 1.5
pytz == 2021.3
requests == 2.27.1
setuptools == 58.0.4
sqlite == 3.37.2
sqlparse == 0.4.2
typing-extensions == 4.0.1
urllib3 == 1.26.8
waitress == 2.0.0
wheel == 0.37.1
whitenoise == 6.0.0
wincertstore == 0.2
